* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --greenBlueDark: #025157;
  --greenlight: #67b54b;
  --white: #ffffff;
  --black: #46484c;

  --textL: 2rem;
  --textM: 1.2rem;
  --textS: 1rem;
  --textXS: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  font-weight: 700;
  color: var(--greenBlueDark);
}

h2 {
  font-size: var(--textL);
  letter-spacing: -2px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none !important;
}

/*    BUTTONS   */

.btn--darkGreen {
  background: var(--greenBlueDark);
  color: var(--white) !important;
  padding: 0.5rem;
  transition: all 250ms ease-in-out;
}

.btn--darkGreen:hover {
  background: var(--greenlight);
}

.btn--lightGreen {
  background: var(--greenlight);
  color: var(--white) !important;
  padding: 0.5rem;
}

/*    UTILITIES   */
.bg-darkGreen {
  background: var(--greenBlueDark);
}

.text--l {
  font-size: var(--textL) !important;
}

.text--m {
  font-size: var(--textM) !important;
}

.text--s {
  font-size: var(--textS) !important;
}

.text--xs {
  font-size: var(--textXS) !important;
}

.text-darkGreen {
  color: var(--greenBlueDark);
}

.text--greenLight {
  color: var(--greenlight);
}

.arrow-right {
  position: relative;
}
.arrow-right::before {
  position: absolute;
  content: "→";
  right: -20px;
  bottom: 25px;
  width: 20px;
  height: 5px;
  font-size: 1.4rem;
}

/*    HEADER    */
#header a {
  color: var(--greenBlueDark);
}

@media screen and (max-width: 768px) {
  #header {
    padding: 0.5rem !important;
  }
  #header form {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  #header .header__responsive-menu {
    display: none;
  }
}

/*    MAIN SECTION*/
#description-section p {
  font-size: var(--textM);
}
@media screen and (min-width: 769px) {
  #description-section article:first-of-type > h2,
  #description-section article:first-of-type > p,
  #description-section article:first-of-type > figure {
    width: 100% !important;
    text-align: left !important;
  }

  #description-section article:first-of-type > button {
    width: 50% !important;
  }
}

/*   BRANDS SECTION    */
.brands-wrapper__logos-wrapper > img {
  margin: 1.5rem;
}

/*    FEATURES SECTION    */
.card img {
  object-fit: contain;
  transition: all 0.3s ease-in-out;
}

.card img:hover {
  transform: scale(1.1);
}

.features-section__cards-wrapper a {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

.features-section__cards-wrapper a:hover {
  color: var(--greenlight);
}

/*    TOOLS SECTION   */
#tools-section img {
  width: 40px;
}

#tools-section .card {
  margin-bottom: 2rem;
}

@media screen and (min-width: 769px) {
  #tools-section article:last-of-type {
    column-gap: 1rem;
  }
}
/*  INFO SECTION */

@media screen and (min-width: 769px) {
  #info-section > div {
    flex-direction: row-reverse;
  }
}

/*    CAROUSEL ARTICLE    */
.carousel-article .carousel-item,
#carouselExampleIndicators {
  max-width: 300px;
}
.carousel-article .card-body > * {
  margin-bottom: 0.5rem;
}

.carousel-article .card-corp {
  color: var(--greenBlueDark);
}

.carousel-article img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.carousel-article .carousel-indicators > * {
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

/*    TABLE SECTION   */
#table-section tr td {
  width: 33.3%;
  height: 100px;
  vertical-align: middle;
  position: relative;
}

#table-section tr td:nth-of-type(1)::before {
  background: url("https://getmatcha.com/wp-content/themes/getmatcha/img/gfx/blocks/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#table-section tr td:nth-of-type(2)::before {
  background: url("https://getmatcha.com/wp-content/themes/getmatcha/img/gfx/integrations/shopify.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#table-section tr td:nth-of-type(3)::before {
  background: url("https://getmatcha.com/wp-content/themes/getmatcha/img/gfx/integrations/wordpress.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.before-settings::before {
  position: absolute;
  content: "";

  width: 30px;
  height: 30px;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

/*    PLUGINS SECTION   */
#plugins-section article:first-of-type div {
  max-width: 400px !important;
}
#plugins-section .card {
  height: 300px;
}

#plugins-section .row {
  column-gap: 1rem;
}

/*    MATCHA EXTRAS SECTION   */
#matcha-extras-section .my-card {
  height: 280px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  display: flex;
  flex-flow: column nowrap;
}
#matcha-extras-section .row:first-of-type article:nth-of-type(1) {
  background: url("https://getmatcha.com/wp-content/themes/getmatcha/img/gfx/blocks/masters.jpg");
  background-size: cover;
  background-position: center center;
}

#matcha-extras-section .row:last-of-type article:nth-of-type(2) {
  background: url("https://getmatcha.com/wp-content/themes/getmatcha/img/gfx/blocks/toolkit.jpg");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

@media screen and (min-width: 769px) {
  #matcha-extras-section .container > .row {
    column-gap: 1rem;
  }
}

/*    FOOTER    */
#footer li {
  list-style-type: none;
  font-size: var(--textM);
}

#footer input {
  border: 1px solid var(--greenBlueDark);
  border-radius: 8px 0px 0px 8px;
  padding: 0.5rem;
  padding-left: 1rem;
}
#footer button {
  border-radius: 0px 8px 8px 0px;
}

@media screen and (min-width: 769px) {
  #footer .row article:first-of-type {
    align-items: flex-start !important;
  }

  #footer .row:first-of-type article:first-of-type p {
    text-align: left !important;
  }

  #footer nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }
  #footer ul {
    align-items: flex-start !important;
  }

  #footer .row:last-of-type article:last-of-type {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
